@media (min-width: 1200px) {
  .dropdown-menu .mh-70 {
    height: 82px;
  }
  nav {
    position: fixed;
    transition: all 0.5s ease-in;
    z-index: 100;
    border-radius: 50px;
    top: 50px;
    width: 100%;
    max-width: 1170px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10000 !important;
  }
  .navbar {
    font-size: 15px;
    font-weight: 500;
    height: 78px;
    padding-inline: 12px;
    border-radius: 20px;
    background: var(--white);
    box-shadow: 0px 0.46px 1.75px -0.78px rgba(1, 16, 26, 0.06), 0px 1.39px 5.3px -1.56px rgba(1, 16, 26, 0.06), 0px 3.67px 13.95px -2.34px rgba(1, 16, 26, 0.05), 0px 11.47px 43.6px -3.12px rgba(1, 16, 26, 0.03);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    align-items: center;
  }
  .navbar .nav-acciones {
    display: flex;
    align-items: center;
  }
  .navbar .nav-acciones .categorias {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .navbar .nav-acciones ul li {
    font-size: 17px;
    color: var(--gray_dark);
    font-weight: 700;
    margin-inline: 0.7rem;
  }
  .navbar .nav-acciones ul li a {
    color: var(--gray_dark);
  }
  .logo img {
    width: 186px;
    height: 61px;
    flex-shrink: 0;
    aspect-ratio: 186/61;
  }
  .mega-dropdown a {
    height: 82px;
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
  }
  .categorias li:not(.close):not(.mega-dropdown) {
    transition: 0.2s all ease;
    margin-bottom: 0;
    font-weight: 700;
    display: flex;
    align-items: center;
    max-height: 82px;
    height: 100%;
  }
  .categorias li:not(.close):not(.mega-dropdown) a {
    position: relative;
    color: var(--black);
  }
  .mega-dropdown .mega-menu {
    width: 170px;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .mega-dropdown .mega-menu a {
    height: auto !important;
    padding: 0.5rem 0;
  }
  .activo {
    position: relative;
    color: var(--black);
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--black);
  }
}
@media (max-width: 1200px) {
  nav {
    height: 86px;
    background: rgba(255, 255, 255, 0.9);
    top: 0px;
  }
  .navbar-nav {
    align-items: start;
  }
  .navbar-nav .nav-link {
    padding: 0 !important;
  }
  .active::after {
    display: none;
  }
  .mega-menu {
    position: fixed !important;
    z-index: 1000 !important;
    background-color: transparent;
    padding: 0;
    border: none;
    margin-left: 0px;
    position: static !important;
  }
  .mega-menu ul li {
    padding: 5px 0;
    color: #28348a !important;
  }
  .mega-menu .dropdown {
    height: 35px !important;
  }
  .mega-dropdown a {
    height: 50px;
  }
  .categorias li:not(.close):not(.mega-dropdown) {
    height: 50px;
  }
  .mega-menu ul li:hover {
    color: #28348a !important;
    background-color: transparent !important;
    font-weight: 500 !important;
  }
  .nav-link {
    padding: 0;
  }
  .categorias li {
    padding-left: 10px;
  }
  .logo img {
    height: 60px;
    margin-top: -5px;
  }
  .hamburger {
    margin-top: -5px;
  }
  .hamburger {
    zoom: 0.7;
  }
  .categorias > *:not(:last-child) {
    width: 100%;
    border-bottom: 1px solid var(--darkblue2);
    z-index: 1;
  }
  .activo {
    background-color: transparent;
    font-weight: 700 !important;
  }
  .navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--blue);
  }
  .navbar ul li a:hover::after {
    display: none !important;
  }
  .categorias li:not(.close):not(.mega-dropdown):not(.no_hover):hover::after {
    display: none !important;
  }
  .footer-bottom {
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .portada-section {
    padding: 100px 0 80px 0;
  }
}
@media (max-width: 991px) {
  .footer-bottom .between-x {
    flex-direction: column;
  }
  .footer-bottom .start-x {
    justify-content: center !important;
  }
  .portada-section {
    padding: 50px 0 80px 0;
  }
  .plataforma-section p {
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .solucion-section {
    padding-top: 80px;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 34px;
    letter-spacing: -1px;
  }
  .clientes-section h2 {
    font-size: 24px;
    padding-bottom: 1rem;
  }
  h2 {
    color: var(--black);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
  }
  .testimonios-section .testimonio p {
    font-size: 18px;
  }
}
@media (max-width: 480px) {
  .portada-section .phone {
    width: 180px;
  }
}/*# sourceMappingURL=responsive.css.map */